* {
    margin: 0;
    padding: 0;
}

.speedyWrapper {
    width: 100%;
    position: fixed;
    top: 0;
}

speedy-bar {
    display: inherit;
    width: 0%;
    background: red;
    height: 3px;
    transition: .5s all;
    /* animation: load 10s infinite linear; */
}

.content {
    padding: 10px;
    margin-top: 100px;
    background-color: #f0f0f0;
    height: 500px;
    width: calc(100% - 20px);
}

.judul {
    text-align: center;
}

form.controlForm {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.controlForm>div {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

.controlForm>div>*,
.controlForm>div>*>span+input {
    padding: 10px;
}

.controlForm>div>*>button {
    padding: 5px;
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}